
<!DOCTYPE html>
<html>
  <head>
    <title>coding-nightmares.com</title>
    <link rel='stylesheet' href='{{ asset("bundles/maschitcodingnightmareswebsite/bootstrap/css/bootstrap.min.css")}}' />
    <link rel='stylesheet' href='{{ asset("bundles/maschitcodingnightmareswebsite/font-awesome/css/font-awesome.css")}}' />
    <link rel='stylesheet' href='{{ asset("bundles/maschitcodingnightmareswebsite/css/darkstrap.css")}}' />
    <link rel='stylesheet' href='{{ asset("bundles/maschitcodingnightmareswebsite/css/style.css")}}' />
    <link rel='stylesheet' href='{{ asset("bundles/maschitcodingnightmareswebsite/css/code.css")}}' />
  </head>
  <body>
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="#">Coding Nightmares</a>
        <ul class="nav">
            {% if is_granted('ROLE_USER') %}
            <li><a href="#/create">create</a></li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <li><a href="#/moderate">moderation</a></li>
            <li><a href="#/user">manage users</a></li>
            {% endif %}
        </ul>
        <ul class="nav pull-right">
          {% if not is_granted('ROLE_USER')  %}
            <li><a href="{{ path("login") }}" class="btn-login">login</a></li>
            <li><a href="{{ path("register") }}" class="btn-register">create account</a></li>
          {% else %}
            <li><a>Welcome, {{ app.user.username }}</a></li>
            <li><a href="{{ path("logout") }}">logout</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% if includeForms is defined and includeForms == true %}
    {% include "maschitCodingNightmaresWebsiteBundle:Elements:popup-register.html.twig" with { "reg_form": reg_form, "hidden": true} %}
    {% include "maschitCodingNightmaresWebsiteBundle:Elements:popup-login.html.twig" with { "hidden": true} %}
    {% endif %}
    <div class="container-fluid" style="width:800px;margin:auto;">
      {% block content %}
        Kein Inhalt da O.o
      {% endblock %}
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery-1.8.0.min.js"></script>
    <script>
      if(!window.jQuery) 
      { var path ="{{ asset("bundles/maschitcodingnightmareswebsite/js/jquery.min.js") }}";
        document.write('</'+ 'script><script src="' + path +'">' ); }
    </script>

    <script src="{{ asset("bundles/maschitcodingnightmareswebsite/bootstrap/js/bootstrap.min.js") }}"></script>
    <script src="{{ asset("bundles/maschitcodingnightmareswebsite/js/main.js") }}"></script>
    <script>
    </script>
  </body>
</html> 